<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Detail</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') | replace('http://', 'https://') }}">

</head>
<body>
    <h1>Item Detail</h1>
    <p>ID: {{ item.id }}</p>
    <p>Name: {{ item.name }}</p>
    <a href="/">Back to list</a>
    <form action="/items/{{ item.id }}/delete" method="post" style="margin-top: 20px;">
        <button type="submit" class="delete-btn">Delete Item</button>
    </form>
</body>
</html>